@import "modules/modules";
@import "helpers/libs";
@import "helpers/fonts";
@import "helpers/mixins";
@import "helpers/vars";

html {
  font-family: "Inter", Arial, serif;
  font-size: 16px;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $mercury;
  color: $mineShaft;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 28px;
  height: 100%;
  color: $mineShaft;
  font-weight: 500;
  line-height: 41px;
}

h3 {
  font-family: "Inter", Arial, serif;
  font-size: 23px;
}

ol, ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
}

//Модули
@import "modules/modules";