.header__main
    .container
        .header__main-wrapper
            a(href="#").logo
                img(src='../../../static/images/common/logo.png' alt='Texнокит').header__main__logo
            .header__burger
                span
            nav.header__main__menu.header__main-menu
                ul.header__main__menu__list.header__main__menu-list
                    li.header__main__menu__item
                        a(href="#services") Услуги
                    li.header__main__menu__item
                        a(href="#partners") Партнеры
                    li.header__main__menu__item
                        a(href="#clients") Наши клиенты
                    li.header__main__menu__item
                        a(href="#tenders") Тендеры
                    li.header__main__menu__item
                        a(href="#contacts") Контакты
                    li.header__main__menu__item
                        a(href="#about") О нас
            a(href="#").header__main__button.header__main-button
                p.header__main__button__description Вход в В2В
            .header__contacts__tel.header__contacts__tel-main
                a(href="tel:+38 (063) 335 31 36").header__contacts__tel__link +38 (063) 335 31 36
                a(href="tel:+38 (093) 892 41 43").header__contacts__tel__link +38 (093) 892 41 43

