.header__contacts
    .container
        .header__contacts__wrapper
            .header__contacts__tel.header__contacts-tel
                a(href="tel:+38 (063) 335 31 36").header__contacts__tel__link +38 (063) 335 31 36
                a(href="tel:+38 (093) 892 41 43").header__contacts__tel__link +38 (093) 892 41 43
            .header__contacts__language.header__contacts__language
                a(href="#").header__contacts__language Ru
                a(href="#").header__contacts__language En
                a(href="#").header__contacts__language Ua
            ul.header__contacts__social.header__contacts__social
                li.header__contacts__social__item
                    a(href="#").header__contacts__social__link
                        +icon('facebook', 'header__contacts__social__icon')
                li.header__contacts__social__item
                    a(href="#").header__contacts__social__link
                        +icon('instagram', 'header__contacts__social__icon')
                li.header__contacts__social__item
                    a(href="#").header__contacts__social__link
                        +icon('telegram', 'header__contacts__social__icon')
