.header__offer
    .container
        .header__advantage.header-advantage
            h1.header__advantage__title_anim-show._anim-no-hide Идеальное качество по лучшей цене
            p.header__advantage__description_anim-show._anim-no-hide основная миссия нашей компании
            ul.header__advantage__menu
                li.header__advantage__menu-item
                    p.header__advantage__menu-description IT Обслуживание
                li.header__advantage__menu-item
                    p.header__advantage__menu-description Тендеры
                li.header__advantage__menu-item
                    p.header__advantage__menu-description Видеонаблюдение
                li.header__advantage__menu-item
                    p.header__advantage__menu-description Настройка серверов
                li.header__advantage__menu-item
                    p.header__advantage__menu-description Монтаж