.header__main
    .container
        .header__main-wrapper
            a(href="#").logo
                img(src='../../../static/images/common/logo.png' alt='Texнокит').header__main__logo
            .header__burger
                span
            nav.header__main__menu.header__main-menu
                ul.header__main__menu__list.header__main__menu-list
                    li.header__main__menu__item
                        a(href="#") Услуги
                    li.header__main__menu__item
                        a(href="#") Партнеры
                    li.header__main__menu__item
                        a(href="#") Наши клиенты
                    li.header__main__menu__item
                        a(href="#") Тендеры
                    li.header__main__menu__item
                        a(href="#") Контакты
                    li.header__main__menu__item
                        a(href="#") О нас
            a(href="#").header__main__button.header__main-button
                p.header__main__button__description Вход в В2В

