.partners__main.partners-main
    h2.partners__main-title Наши партнеры
    .partners__slide
        .partners__slide-item
            img(src='../../../static/images/content/partners1.png' alt='IнтерХiтм').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners2.png' alt='Odrex медицинский дом').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners3.png' alt='Kadorr Group').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners4.png' alt='Новикон окна и двери').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners5.png' alt='Восток банк').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners6.png' alt='Таврия В').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners7.png' alt='Tairovo Vinery').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners8.png' alt='Автогруп Одесса').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners9.png' alt='Паритет светопрозрачные конструкции').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners10.png' alt='Marlow navigation').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners11.png' alt='Смартлаб').partners__slide-img
        .partners__slide-item
            img(src='../../../static/images/content/partners12.png' alt='Container Terminal').partners__slide-img