.review__main
    h2.review__main-title Отзывы
    .review__info
        p.review__info-description За годы работы с  крупными компаниями, в том числе с государственными учреждениями,  реализовано более 400 тендеров на закупку товаров. Установлены стабильные деловые отношения, что позволило нам зарекомендовать себя как надежного и высококвалифицированного партнера.
        .review__info-about
            h3.review__info-title Мы благодарны нашим клиентам за оказанное доверие и положительные отзывы о совместной работе.
    .review__slide
        a(href="../../../static/images/content/review1.png" title="АШГ відгук").review__slide-link
            img(src='../../../static/images/content/review1-small.png' alt='АШГ відгук').review__slide-img
        a(href="../../../static/images/content/review2.png" title="Відгук винниця ПУ поліції").review__slide-link
            img(src='../../../static/images/content/review2-small.png' alt='Відгук винниця ПУ поліції').review__slide-img
        a(href="../../../static/images/content/review3.png" title="Відгук Молога").review__slide-link
            img(src='../../../static/images/content/review3-small.png' alt='Відгук Молога').review__slide-img
        a(href="../../../static/images/content/review4.png" title="Відгук по аналог дог Малин р-н").review__slide-link
            img(src='../../../static/images/content/review4-small.png' alt='Відгук по аналог дог Малин р-н').review__slide-img
        a(href="../../../static/images/content/review5.png" title="Відгук Роздільна").review__slide-link
            img(src='../../../static/images/content/review5-small.png' alt='Відгук Роздільна').review__slide-img
        a(href="../../../static/images/content/review6.png" title="Відгук Степанівка").review__slide-link
            img(src='../../../static/images/content/review6-small.png' alt='Відгук Степанівка').review__slide-img
        a(href="../../../static/images/content/review7.png" title="Відгук Укрводшлях").review__slide-link
            img(src='../../../static/images/content/review7-small.png' alt='Відгук Укрводшлях').review__slide-img
        a(href="../../../static/images/content/review8.png" title="Відгук Балта").review__slide-link
            img(src='../../../static/images/content/review8-small.png' alt='Відгук Балта').review__slide-img
        a(href="../../../static/images/content/review9.png" title="Відгук Донецький").review__slide-link
            img(src='../../../static/images/content/review9-small.png' alt='Відгук Донецький').review__slide-img
