.review__main
    h2.review__main-title Отзывы
    .review__info
        p.review__info-description._anim-items._anim-show._anim-no-hide За годы работы с  крупными компаниями, в том числе с государственными учреждениями,  реализовано более 400 тендеров на закупку товаров. Установлены стабильные деловые отношения, что позволило нам зарекомендовать себя как надежного и высококвалифицированного партнера.
        .review__info-about
            h3.review__info-title._anim-items._anim-show._anim-no-hide Мы благодарны нашим клиентам за оказанное доверие и положительные отзывы о совместной работе.
    .review__slide
        a(href="../../../static/images/content/review1.webp" title="АШГ відгук").review__slide-link
            img(src='../../../static/images/content/review1-small.webp' alt='АШГ відгук').review__slide-img
        a(href="../../../static/images/content/review2.webp" title="Відгук винниця ПУ поліції").review__slide-link
            img(src='../../../static/images/content/review2-small.webp' alt='Відгук винниця ПУ поліції').review__slide-img
        a(href="../../../static/images/content/review3.webp" title="Відгук Молога").review__slide-link
            img(src='../../../static/images/content/review3-small.webp' alt='Відгук Молога').review__slide-img
        a(href="../../../static/images/content/review4.webp" title="Відгук по аналог дог Малин р-н").review__slide-link
            img(src='../../../static/images/content/review4-small.webp' alt='Відгук по аналог дог Малин р-н').review__slide-img
        a(href="../../../static/images/content/review5.webp" title="Відгук Роздільна").review__slide-link
            img(src='../../../static/images/content/review5-small.webp' alt='Відгук Роздільна').review__slide-img
        a(href="../../../static/images/content/review6.webp" title="Відгук Степанівка").review__slide-link
            img(src='../../../static/images/content/review6-small.webp' alt='Відгук Степанівка').review__slide-img
        a(href="../../../static/images/content/review7.webp" title="Відгук Укрводшлях").review__slide-link
            img(src='../../../static/images/content/review7-small.webp' alt='Відгук Укрводшлях').review__slide-img
        a(href="../../../static/images/content/review8.webp" title="Відгук Балта").review__slide-link
            img(src='../../../static/images/content/review8-small.webp' alt='Відгук Балта').review__slide-img
        a(href="../../../static/images/content/review9.webp" title="Відгук Донецький").review__slide-link
            img(src='../../../static/images/content/review9-small.webp' alt='Відгук Донецький').review__slide-img
