.contacts__main.contacts-main
    h2.contacts__main-title Местоположение <br> / Контакты
    .contacts__info
        .contacts__general
           .contacts__general-item._anim-items._anim-show
                p.contacts__general-label Адрес
                p.contacts__general-info г. Одесса <br> ул. Средняя, 59
           .contacts__general-item._anim-items._anim-show
                p.contacts__general-label E-Mail
                a(href="mailto:tender@k-it.com.ua").contacts__general-info tender@k-it.com.ua
           .contacts__general-item._anim-items._anim-show
                p.contacts__general-label Телефон
                a(href="tel:+38 (063) 335 31 36").contacts__general-info +38 (063) 335 31 36
                a(href="tel:+38 (093) 892 41 43").contacts__general-info +38 (093) 892 41 43
           .contacts__general-item._anim-items._anim-show
               p.contacts__general-label Время роботы
               p.contacts__general-info 09:00 - 18:00
        .contacts__map
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.842279886321!2d30.707582015343675!3d46.47163197367713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6322064f1a165%3A0x55c7ff0e960673f2!2sSerednya%20St%2C%2059%2C%20Odesa%2C%20Odes&#39;ka%20oblast%2C%20Ukraina%2C%2065000!5e0!3m2!1spl!2spl!4v1652093557772!5m2!1spl!2spl" width="540" height="365" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>