.partners {
  padding-top: 41px;
  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    &-title {
      min-width: 0;
      width: 190px;
    }
  }
  &__slide {
    margin-top: 30px;
    min-width: 0;
    max-width: 825px;
    position: relative;
    & .slick-arrow {
      position: absolute;
      cursor: pointer;
      bottom: -1%;
      font-size: 0;
      width: 31px;
      height: 16px;
      border: 0;
    }
    &-img {
      margin-bottom: 27px;
    }
  }
}

