.about__repute
    .about__repute__info.about__repute-info
        .about__repute__block.about__repute-block.about__repute__certificates
            h3.about__repute__block__title Имеем необходимые сертификаты
            .about-open.about__repute-open
                +icon('arrow', 'about-open__icon')
                p.about-open__text посмотреть сертификаты
            include ../about/about__certificates
        .about__repute__block.about__repute-block.about__repute__requisites
            h3.about__repute__block__title Реквизиты нашей компании
            .about-open.about__repute-open
                +icon('arrow', 'about-open__icon')
                p.about-open__text посмотреть реквизиты
            include ../about/about__requisites
    .about__repute__description.about__repute-description#about__repute__description
        p.about__repute__description__text Мы надежная компания, которая заботится о своей репутации и о качестве наших услуг
