.about__content.about__content__requisites
    p.about__content__description ТОВ «К-ИТ»
    p.about__content__description Адреса юридична: 65005,Одеська обл.,
    p.about__content__description м. Одеса, вул. Дальницька, буд. 25
    p.about__content__description р/р UA243287040000026006054232859
    p.about__content__description МФО 328704
    p.about__content__description Код ЄДРПОУ 43597474
    p.about__content__description ІПН 435974715529






