.about__content
    .about__content__certificates
        img(src='../../../static/images/content/certificates1.jpg' alt='ПК T&G Висновок ДСЕЕ-1').about__content__certificates-photo
        img(src='../../../static/images/content/certificates2.jpg' alt='ПК T&G Декларація відповiдностi-1').about__content__certificates-photo
        img(src='../../../static/images/content/certificates3.jpg' alt='ПК T&G Сертифікат на систему екологічного управління ISO-14001').about__content__certificates-photo
        img(src='../../../static/images/content/certificates4.jpg' alt='ПК T&G Сертифікат на систему управління якістю ISO-9001').about__content__certificates-photo
        img(src='../../../static/images/content/certificates5.jpg' alt='ПК T&G Сертифікат сес').about__content__certificates-photo
