.about__main.about-main
    h2.about__main-title О нас
    .about__main__content
        p.about__main__description ТОВ "К-ИТ" — это команда профессионалов с многолетним стажем работы в индустрии IT. С 2010 года мы создаем высокотехнологичные решения в любых отраслях бизнеса.
        .about__privilege.about-privilege
            h3.about__privilege-title Преимущества
            p.about__privilege-description Почему нам доверяют сотни клиентов по всей Украине?
            .about__list.about-list
                .about__list__item
                    p.about__list__item-description Полный контроль и доступ к проекту 24/7
                .about__list__item
                    p.about__list__item-description Оперативность и прозрачность на всех этапах работы
                .about__list__item
                    p.about__list__item-description Понятное ценовое формирование: наши клиенты получают доступ к мультибрендовому B2B-порталу
                .about__list__item.about__list__item-more
                    p.about__list__item-description Тендерный отдел с опытом работы более 5 лет и успешной <br> статистикой Prozorro
                    a(href="#").about-open
                        +icon('arrow', 'about-open__icon')
                        p.about-open-text посмотреть статистику
                .about__list__item
                    p.about__list__item-description Свое производство карт памяти, флеш-накопителей, SSD накопителей и оперативной памяти TM T&G
                .about__list__item.about__list__item-last
                    p.about__list__item-description Собственный отдел внутренней и международной логистики и импорта, что позволяет своевременно и ответственно реагировать на потребности проекта
            include ../about/about__repute