.services__main.services-main
    h2.services__main-title Наши услуги
    .services__list
        .services__list-open
            h3.services__list-title Монтаж
            .services__content
                p.services__content-text Наша команда более 10 лет занимается проектированием и сбором слаботочных систем:
                ul.services__content__list
                    li.services__content__list-item системы охранной сигнализации
                    li.services__content__list-item системы видеонаблюдения и регистрации
                    li.services__content__list-item системы контроля и управления доступом (СКУД)
                    li.services__content__list-item системы телефонной связи
                    li.services__content__list-item системы спутникового телевидения
                    li.services__content__list-item локальные системы и системы вычисления
                    li.services__content__list-item системы вентиляции
                    li.services__content__list-item системы водоснабжения
                    li.services__content__list-item системы кондиционирования
                    li.services__content__list-item системы отопления
                p.services__content-text Вне зависимости от объема и сложности предстоящего проекта, каждая из работ делится на следующие важные этапы:
                ul.services__content__list
                    li.services__content__list-item Разработка технического задания (вместе с заказчиком, согласно его требованиям и ожиданиям)
                    li.services__content__list-item Выезд на объект, уточнение всех рабочих моментов
                    li.services__content__list-item Составление предварительного проекта работ, составление сметы расходов
                    li.services__content__list-item Составление плана по монтажу слаботочной системы
                    li.services__content__list-item Финальное согласование с заказчиком
                    li.services__content__list-item Монтаж и запуск системы.
                p.services__content-text Со старта работ за каждым проектом закрепляется отдельный менеджер. Он всегда остается на связи и максимально вовлекается в рабочий процесс. За десятилетия практики мы точно знаем, что такой подход дает максимальный результат и полную согласованность клиентских ожиданий и результата.
                p.services__content-title Оставьте ваши контактные данные, и мы приступим к проекту уже сегодня!
                .services__description
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Системы видеонаблюдения
                        .services__description-content
                            p.services__description-content-text Наша команда специализируется на внедрении сверхточных систем видеонаблюдения «под ключ».
                            p.services__description-content-text Если вы хотите иметь тотальный видеоконтроль онлайн, в режиме реального времени, оставьте ваши контакты, и наш менеджер уже сегодня детально сориентирует вас о примерных сроках и стоимости подобных работ.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Компьютерные сети
                        .services__description-content
                            p.services__description-content-text Уверенная отлаженная работа локальной компьютерной сети — залог согласованности и оперативности всех действий любой компании. <br> Мы знаем, как максимально эргономично и экономично составить сеть именно под ваши потребности.<br> Небольшой офис или промышленное предприятие — связь между компьютерами и сервером должна быть предельно быстрой и точной, согласны?
                            p.services__description-content-text Оставьте ваши контактные данные, и мы приступим к проекту уже сегодня!
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Домофоны
                        .services__description-content
                            p.services__description-content-text Нет необходимости объяснять важность домофонной коммуникации для жилого или офисного объекта. Но всегда имеет важность стоимость, качество и срок выполнения работ, грамотное долгосрочное сопровождение после сдачи проекта, оперативное реагирование на штатные ситуации.
                            p.services__description-content-text Оставьте ваши контактные данные, и уже сегодня вы убедитесь в нашем профессиональном подходе к задачам!
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Системы контроля управлением доступом
                        .services__description-content
                            p.services__description-content-text Комплекс СКУП нацелен фиксирование входа и выхода сотрудников и транспортных средств в пределах охраняемой территории. <br> Это предотвращает нецелевое проникновение на объект, а также контролирует движение внутри компании.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Офисные IP ATC
                        .services__description-content
                            p.services__description-content-text Инженерная команда «Технокит» обеспечит грамотное комплексное выполнение работ по установке и сопровождению ваших компьютеров в этой системе.<br> Минимальные сроки внедрения в зависимости от объема задач.<br> Берегите свое время и данные.
                            p.services__description-content-text Оставьте ваши контактные данные и мы уже начнем работать над вашим проектом!
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Системы звукового оповещения и музыкальной трансляции
                        .services__description-content
                            p.services__description-content-text Внедрение данной системы помогает оперативному информированию и оповещению, передаче аварийных сигналов. <br> Мы рекомендуем зонированный подход с целью максимального охвата аудитории.
                            p.services__description-content-text Оставьте ваши контактные данные, и мы приступим к проекту уже сегодня
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Комплексы бесконтактного измерения температуры тела
                        .services__description-content
                            p.services__description-content-text Качественные высокоточные измерительные комплектующие обеспечат оперативный контроль без контактов с кожей человека. <br> Актуальное решение для предприятий с большой пропускной нагрузкой.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Сборка и монтаж, подключение серверных шкафов и стоек
                        .services__description-content
                            p.services__description-content-text Современная форма защиты данных от разрушительных внешних воздействий и долгосрочного влияния факторов окружающей среды. <br> Наши инженеры подберут оптимальное индивидуальное решение под ваши задачи и объемы.
                            p.services__description-content-text Оставьте ваши контактные данные, чтобы мы могли максимально точно ответить на ваш запрос.
        .services__list-open
            h3.services__list-title IT Обслуживание
            .services__content
                p.services__content-text Мы предлагаем вам надежный инженерный тыл — комплексное IT-сопровождение без сбоев и форс-мажоров.
                ul.services__content__list
                    li.services__content__list-item Регулярные профилактические осмотры, ремонт и перенастройка оборудования
                    li.services__content__list-item Служба технической поддержки: по телефону до момента решения вопроса либо выезд инженера, если проблему невозможно решить самостоятельно
                    li.services__content__list-item Постоянный мониторинг производительности: автоматизированная система мгновенно реагирует на любые технические сбои в роботе. Эта функция существенно экономит время и позволяет быстро среагировать и устранить неполадки без возникновения усложнений.
                    li.services__content__list-item IT-аутсорсинг — надежная защита вашей компании без необходимости содержать штатную команду. Экономя финансовые и человеческие ресурсы, вы получаете поддержку профильных специалистов высочайшего уровня.
                    li.services__content__list-item Гарантия качества и конфиденциальности работ обеспечивается выполнением подписания договоров на обслуживание. Мы любим нашу работу и ценим нашу репутацию.
                p.services__content-title Оставьте ваши контактные данные, и уже сегодня вы убедитесь в нашем профессиональном подходе к задачам!
                .services__description
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Комплексное IT обслуживание компьютеров и серверов
                        .services__description-content
                            p.services__description-content-text Не существует не выполнимой задачи — есть неправильно подобранные подрядчики. <br> Слаженная годами команда инженеров «Технокит» оперативно найдет и устранит неполадки в системе вашей компьютерной сети. <br> Мы развернуто объясняем причины сбоя и консультируем по профилактическим мероприятиям во избежание повторения ситуации в будущем.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Подменная техника
                        .services__description-content
                            p.services__description-content-text На период ремонта вышедшего из строя оборудования мы предоставляем аналогичную технику на замену.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Удаленная поддержка
                        .services__description-content
                            p.services__description-content-text Прежде, чем направить к вам мастера, мы попытаемся решить проблему удаленно, сопровождая вас в телефонном режиме и / или программно через специальные системы доступа.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт оборудования
                        .services__description-content
                            p.services__description-content-text Команда «Технокит» не только устраняет неполадку, но выявляет ее первопричину и берет неисправную технику в ремонт. <br> Высочайшая квалификация, многолетний опыт и собственный сервис позволяют самостоятельно отремонтировать оборудование, замыкая в единой точке весь спектр по IT-обслуживанию объекта.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title IT Аудит, регламентные работы, настройка ПО и консультации
                        .services__description-content
                            p.services__description-content-text Одно из наших ключевых преимуществ — минимизация любых затрат. <br> Мы предпочитаем качественные превентивные меры, объемную консультацию и регулярный аудит. <br> Считаем, это лучше, чем хаотичное устранение ошибок и неполадок. <br> А какой подход к работе ближе вам?
                            p.services__description-content-text Оставьте ваши контактные данные для развернутой консультации по интересующим вас моментам.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Экстренная замена оборудования
                        .services__description-content
                            p.services__description-content-text Если у вас вышел из строя какой-либо электроприбор и вам срочно нужна замена, мы готовы немедленно предоставить её вам на время пока приведём в порядок вашу собственную технику.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Персональный IT-инженер
                        .services__description-content
                            p.services__description-content-text Технокит с радостью предоставит вам личного IT- консультанта, который сможет разобраться в том что нужно автоматизировать, какой это принесёт эффект и какое именно IT-решение нужно предпринять для решения ваших технических неполадок и приведения в рабочее состояние вашей техники.
        .services__list-open
            h3.services__list-title Видеонаблюдение
            .services__content
                p.services__content-text Одно из ключевых направлений деятельности нашей компании — установка и настройка систем IP видеонаблюдения.
                p.services__content-text Все системы синхронизируются с возможностью беспрерывного онлайн доступа и просмотром данных из любой точки мира даже с обычного смартфона. <br> При необходимости систему можно настроить синхронно с работой датчиков и вы первыми будете получать уведомление о фиксации подозрительной активности на объекте.
                p.services__content-text Также, мы обеспечиваем хранение записей с камер на предусмотренный вами период. По желанию, видеофиксация может быть настроена со звуком или без.
                p.services__content-text Наша команда уже 11 лет устанавливает системы видеоконтроля разного уровня сложности и разных поколений: от самых первых до сверхсовременных. Мы знаем особенности работы каждой из них и обязательно подберем вам оптимальное оборудование под ваши задачи, не перегружая финансово.
                p.services__content-text Помимо консультации и установки, мы оказываем услуги по последующему обслуживанию камер, а также предоставляем оборудование в аренду, чтобы вы самостоятельно могли протестировать несколько вариантов и выбрать лучшее.
                p.services__content-text Мы обладаем всеми ресурсами, чтобы сделать вашу жизнь спокойной и безопасной.
                p.services__content-title Оставьте ваши контактные данные, и мы более детально расскажем вам об имеющихся вариантах и подберем оптимальное для вас решение.
                .services__description
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Лицензионное ПО
                        .services__description-content
                            p.services__description-content-text Установка и использование лицензионного ПО — это не просто лакмус цивилизованного ведения бизнеса, это, прежде всего, гарантия более качественной работы. <br> Лицензионное ПО чаще более надежно защищено от вирусных атак, меньше подвержено техническим срывам, а ваша компания не уязвима перед проверками.
                            p.services__description-content-text Мы имеем доступ к лицензионному программному обеспечению любого уровня сложности и специализации. Подберем, установим, окажем сопровождающее содействие на всем пути использования.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Корпоративное облако
                        .services__description-content
                            p.services__description-content-text Специально под вашу компанию мы создаем индивидуальное хранилище данных с четко регламентированным доступом. <br> На сегодня — это самый надежный способ хранения информации как на физическом уровне, так и с точки зрения шпионажа и утечки данных.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Организация системы резервного копирования
                        .services__description-content
                            p.services__description-content-text Наряду с корпоративным облаком, популярной услугой для малых и крупных компаний является создание резервной копии данных. <br> Это единственная гарантия того, что ваша информация не исчезнет случайным образом и будет защищена от случайных контактов.
                    .services__description-item
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Внедрение систем интеллектуального видеоанализа
                        .services__description-content
                            p.services__description-content-text Интеллектуальный видеоанализ пока еще плохо представлен в нашей стране. <br> Вместе с этим специалисты «Технокит» внедряют подобные системы и обеспечивают их грамотное практическое применение. <br> Видеоанализ будет уместен в тех компаниях, где есть необходимость распознать и отследить видеоэлемент в потоке данных.
                            p.services__description-content-text Если вы затрудняетесь ответить, как именно данная система работает на практике, оставьте ваши контактные данные и мы более детально рассмотрим работу этого направления.
        .services__list-open
            h3.services__list-title Настройка серверов
            .services__content
                p.services__content-text История нашей компании началась именно с работы с серверами.
                p.services__content-text В свое время мы быстро сориентировались, что серверные системы навсегда пропишутся в офисе каждой компании и в дальнейшем будут только модифицироваться, обрастать новыми возможностями. В самом простом виде сервер — это корпоративный компьютер, который с помощью специальных настроек дает возможность всем пользователям в сети иметь одновременный доступ к необходимой информации без перегрузки системы и применения дополнительного оборудования.
                p.services__content-text Имея сложный разноплановый опыт и квалифицированную команду инженеров, мы оперативно и грамотно настроим работу вашего сервера, обеспечив согласованную связку всех устройств сети.
                p.services__content-text Как это происходит?
                ul.services__content__list
                    li.services__content__list-item Анализ задач и требований клиента. В соответствии с запросом подбор аппаратной («железной») части.
                    li.services__content__list-item Установка и настройка сервера. <br> На этом этапе производится установка операционной системы, нужного программного обеспечения и дополнительных настроек. По времени этот этап довольно короткий, но несмотря на это он самый важный в процессе установки.
                    li.services__content__list-item Тестирование сервера. <br> Когда сервер настроен, специалисты переходят к тестированию работы ключевых функций проекта в целом и отдельных его частей.
                    li.services__content__list-item Поддержка и обслуживание после установки.
                p.services__content-text Среди приоритетных форматов работы серверов можно выделить следующие:
                ul.services__content__list
                    li.services__content__list-item Почтовый сервер: позволяет установить полный контроль над всей почтой компании, а также настроить спам-фильтры и корреспонденцию, которая там хранится;
                    li.services__content__list-item Сервер-маршрутизатор: обеспечивает управление доступом в интернет, правами доступа и маршрутизацией трафика;
                    li.services__content__list-item Принт сервер: дает доступ к принтерам всем устройствам в сети;
                    li.services__content__list-item Сервер удаленного доступа: это частная виртуальная сеть, дающая возможность одного или нескольких серверных соединений через Интернет, позволяет беспрепятственный доступ к сети из любого места мира, при наличии Интернета.
                p.services__content-text Мы надеемся, что после приведенной информации, у вас появилось четкое осознание необходимости серверной организации работы в компании.
                p.services__content-title Оставьте ваши контактные данные, и мы будем рады ответить вам на ваши вопросы!
        .services__list-open
            h3.services__list-title Заправка картриджей
            .services__content
                .services__description
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Заправка картриджей
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Полная разборка картриджа
                                li.services__description-item Очистка отсеков и валов картриджа от старого тонера
                                li.services__description-item Смазка движущихся частей картриджа
                                li.services__description-item Заправка новым тонером/краской
                                li.services__description-item Замена либо прошивка чипа
                                li.services__description-item Сборка картриджа
                                li.services__description-item Тестирование картриджа
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Восстановление картриджей
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Полная разборка картриджа
                                li.services__description-item Проверка на наличие изношенных узлов. В случае изношенности требуется ремонт (восстановление) картриджа
                                li.services__description-item Проверка сопел (дюз). Если картридж высох, необходимо восстановление (размачивание)
                                li.services__description-item Ремонт картриджа (замена необходимых компонентов)
                                li.services__description-item Смазка движущихся частей картриджа
                                li.services__description-item Заправка новым тонером/краской
                                li.services__description-item Сборка картриджа
                                li.services__description-item Тестирование картриджа
        .services__list-open
            h3.services__list-title Ремонт техники
            .services__content
                .services__description
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт принтеров
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика
                                li.services__description-item Техническое обслуживание
                                li.services__description-item Прошивка принтера
                                li.services__description-item Замена ролика подачи бумаги
                                li.services__description-item Ремонт термоузла
                                li.services__description-item Ремонт лотка для бумаги
                                li.services__description-item Ремонт корпусных частей
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт многофункциональных устройств
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика
                                li.services__description-item Техническое обслуживание
                                li.services__description-item Прошивка копировальных устройств
                                li.services__description-item Замена ролика подачи бумаги
                                li.services__description-item Смазка движущихся частей картриджа
                                li.services__description-item Ремонт термоузла
                                li.services__description-item Ремонт лотка для бумаги
                                li.services__description-item Ремонт корпусных частей
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт копировальных аппаратов
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика
                                li.services__description-item Техническое обслуживание
                                li.services__description-item Прошивка копировальных устройств
                                li.services__description-item Замена ролика подачи бумаги
                                li.services__description-item Смазка движущихся частей картриджа
                                li.services__description-item Ремонт термоузла
                                li.services__description-item Ремонт лотка для бумаги
                                li.services__description-item Ремонт корпусных частей
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт мониторов
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика монитора
                                li.services__description-item Замена кабеля видео-монитора
                                li.services__description-item Замена кабеля питания
                                li.services__description-item Замена матрицы
                                li.services__description-item Лечение битых пикселей
                                li.services__description-item Ремонт блока питания
                                li.services__description-item Ремонт кнопок на панели
                                li.services__description-item Ремонт платы питания
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт источников бесперебойного питания
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика ИБП
                                li.services__description-item Замена аккумулятора, батареи
                                li.services__description-item Ремонт системной платы ИБП
                    .services__description-item.services__description-item-list
                        .services__description-open
                            .services__description-icon
                            p.services__description-title Ремонт уничтожителей бумаги (шредер)
                        .services__description-content
                            ul.services__description-list
                                li.services__description-item Диагностика
                                li.services__description-item Замена шестерней шредера
                                li.services__description-item Ремонт мотора
                                li.services__description-item Ремонт корпуса
                                li.services__description-item Ремонт/замена концевиков шредера
                                li.services__description-item Ремонт/замена барабана шредера
        .services__list-open
            h3.services__list-title Тендеры
