.contacts {
  padding: 138px 0 150px;
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
  }
  &__general {
    padding-top: 20px;
    margin-right: 53px;
    & > * {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0; }
    }
    &-item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
    &-info {
      color: $mineShaft;
      font-size: 23px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}