.clients__main.clients-main
    h2.clients__main-title Наши клиенты
    .clients__slide
        .clients__slide-item
            img(src='../../../static/images/content/clients1.webp' alt='IнтерХiтм').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients2.webp' alt='Odrex медицинский дом').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients3.webp' alt='Kadorr Group').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients4.webp' alt='Новикон окна и двери').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients5.webp' alt='Восток банк').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients6.webp' alt='Таврия В').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients7.webp' alt='Tairovo Vinery').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients8.webp' alt='Автогруп Одесса').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients9.webp' alt='Паритет светопрозрачные конструкции').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients10.webp' alt='Marlow navigation').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients11.webp' alt='Смартлаб').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients12.webp' alt='Container Terminal').clients__slide-img