.clients__main.clients-main
    h2.clients__main-title Наши клиенты
    .clients__slide
        .clients__slide-item
            img(src='../../../static/images/content/clients1.png' alt='IнтерХiтм').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients2.png' alt='Odrex медицинский дом').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients3.png' alt='Kadorr Group').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients4.png' alt='Новикон окна и двери').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients5.png' alt='Восток банк').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients6.png' alt='Таврия В').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients7.png' alt='Tairovo Vinery').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients8.png' alt='Автогруп Одесса').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients9.png' alt='Паритет светопрозрачные конструкции').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients10.png' alt='Marlow navigation').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients11.png' alt='Смартлаб').clients__slide-img
        .clients__slide-item
            img(src='../../../static/images/content/clients12.png' alt='Container Terminal').clients__slide-img