.header__main {
  background-color: $mineShaft;
  padding: 20px 0;
  border-top: 2px solid $silverChalice;
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &__menu {
    padding-left: 32px;
    &__list {
      display: flex;
      & > * {
        margin-right: 42px;
        &:last-child { margin-right: 0; }
      }
      & a {
        color: $white;
        transition: all .6s ease;
        &:hover {
          color: $allports;
          font-size: 15px;
        }
      }
    }
  }
  &__button {
    padding: 10px 0;
    color: $white;
    background-color: $allports;
    margin-left: auto;
    &__description {
      padding: 0 14px 0 15px;
    }
  }
}