.header__offer {
  padding: 165px 0 47px;
  //background-color: $mercury;
  //background-image: url('../../../images/common/header_bg.png');
  //background: url('../../../images/common/header_bg.png'), no-repeat, center;
  background: no-repeat center/95% url('../../../static/images/common/header_bg.png');
}
.header__advantage {
  &__title {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.78px;
    color: $allports;
    max-width: 496px;
    line-height: 83px;
    margin-bottom: 9px;
  }
  &__description {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__menu {
    padding-left: 17px;
    border-left: 2px solid $silverChalice;
    &-item {
      & > * {
        margin-bottom: 9px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-description {
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 16.5px;
    }
  }
}