.header__burger {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    order: 3;
    margin-left: auto;
    cursor: pointer;
    & span {
      background-color: $silverChalice;
      position: absolute;
      width: 100%;
      height: 3px;
      top: 8.7px;
      transition: all .6s ease;
    }
    &:before, &:after {
      content: '';
      background-color: $silverChalice;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all .6s ease;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  &.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  &.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  &.active span {
    transform: scale(0);
  }
}