@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
            url(#{$path}.woff) format("woff"),
            url(#{$path}.woff2) format("woff2"),
            url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Inter', '../fonts/inter/inter/inter', 400, 'normal');
@include font-face('Inter', '../fonts/inter/intersemibold/intersemibold', 600, 'normal');
@include font-face('Oswald', '../fonts/oswald/oswaldbold/oswaldbold', 500, 'normal');
@include font-face('Oswald', '../fonts/oswald/oswaldmedium/oswaldmedium', 700, 'normal');
