// Colors
$white: #fff;
$black: #000;
$mineShaft: #333333;
$silver: #c8c8c8;
$silverChalice: #b2b2b2;
$allports: #00759F;
$mercury: #e5e5e5;
$mineShaft: #333333;
$cerulean: #12A0D2;


// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1110px;

// Fonts