.about__repute {
  display: flex;
  padding-top: 30px;
  &__block {
    padding-bottom: 30px;
    border-bottom: 2px solid $silverChalice;
    margin-right: 38px;
    width: 246px;
    &__title {
      font-weight: 600;
      line-height: 34.5px;
      margin-bottom: 20px;
    }
  }
  &__requisites {
    margin-top: 50px;
  }
  &-open {
    margin-top: 0;
  }
  &__description {
    background-color: $allports;
    color: $white;
    padding: 99px 63px 99px 98px;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .6s ease;

  }
  &__change {
    width: 350px;
    height: 246px;
    margin-left: auto;
    padding: 24px 13px 12px 53px;
  }
}
