.tenders__main.tenders-main
    h2.tenders__main-title Тендеры
    .tenders__info
        .tenders__info-about
            p.tenders__info-description Тендерный отдел с опытом работы более 5 лет <br> и успешной статистикой
            p.tenders__info-description Prozorro
        .tenders__info-presentation
            p.tenders__info-text Работаем со всеми типами государственных и коммерческих заказчиков
            p.tenders__info-text Старая техническая школа и современный подход в руководстве проектами позволяет выбрать оптимальное выполнение задания
            p.tenders__info-text Большой опыт работы с площадками Prozorro и ProzorroMarket
            p.tenders__info-text Работаем только с проверенными производителями техники
            p.tenders__info-text Поставляем товар в указанные сроки
    .tenders__benefit
        h3.tenders__benefit-title Работая с нами, Вы получаете:
        p.tenders__benefit-description Профессиональную консультацию по техническому заданию
        p.tenders__benefit-description Помощь в подборе оптимальной техники под Ваш бюджет
        p.tenders__benefit-description Качественное техническое задание для выхода на площадку Prozorro
        p.tenders__benefit-description Поддержку в вопросах и требованиях при проведении тендеров
        p.tenders__benefit-description Реализацию проекта в кратчайшие сроки
        p.tenders__benefit-description Своевременную доставку, инсталляцию и настройку техники (если это необходимо)
        a(href="#").tenders__benefit-link
            +icon('arrow', 'tenders__benefit-link-icon')
            h3.tenders__benefit-link-description Информация о нашей компании