.tenders__main.tenders-main
    h2.tenders__main-title Тендеры
    .tenders__info
        .tenders__info-about
            p.tenders__info-description Тендерный отдел с опытом работы более 5 лет <br> и успешной статистикой
            p.tenders__info-description Prozorro
        .tenders__info-presentation
            p.tenders__info-text Работаем со всеми типами государственных и коммерческих заказчиков
            p.tenders__info-text Старая техническая школа и современный подход в руководстве проектами позволяет выбрать оптимальное выполнение задания
            p.tenders__info-text Большой опыт работы с площадками Prozorro и ProzorroMarket
            p.tenders__info-text Работаем только с проверенными производителями техники
            p.tenders__info-text Поставляем товар в указанные сроки
    include ../tenders/tenders__benefit









