.tenders__benefit
    h3.tenders__benefit-title Работая с нами, Вы получаете:
    p.tenders__benefit-description Профессиональную консультацию по техническому заданию
    p.tenders__benefit-description Помощь в подборе оптимальной техники под Ваш бюджет
    p.tenders__benefit-description Качественное техническое задание для выхода на площадку Prozorro
    p.tenders__benefit-description Поддержку в вопросах и требованиях при проведении тендеров
    p.tenders__benefit-description Реализацию проекта в кратчайшие сроки
    p.tenders__benefit-description Своевременную доставку, инсталляцию и настройку техники <br> (если это необходимо)
    a(href="#").tenders__benefit-link
        +icon('arrow', 'tenders__benefit-link-icon')
        h3.tenders__benefit-link-description Информация о нашей компании