.footer__main.footer-main
    a(href="#").logo
        img(src='../../../static/images/common/logo 2.png' alt='Texнокит').footer__main-logo
    .footer__info
        ul.footer__menu
            li.footer__menu__item
                a(href="#") Услуги
            li.footer__menu__item
                a(href="#") Партнеры
            li.footer__menu__item
                a(href="#") Тендеры
            li.footer__menu__item
                a(href="#") Наши клиенты
            li.footer__menu__item
                a(href="#") Контакты
            li.footer__menu__item
                a(href="#") О нас
        .footer__contacts
            p.footer__contacts-adress г. Одесса <br> ул. Средняя, 59
            .footer__contacts-item
                p.footer__contacts-description E-Mail:
                a(href="mailto:tender@k-it.com.ua").footer__link tender@k-it.com.ua
            .footer__contacts-item.footer__contacts-item-phone
                a(href="tel:+38 (063) 335 31 36").footer__link +38 (063) 335 31 36
                a(href="tel:+38 (093) 892 41 43").footer__link +38 (093) 892 41 43
            p.footer__contacts-item Время работы: 09:00 - 18:00
p.footer__credits © Всі права захищені "ТЕХНОКІТ"

